.Rproj.user
*.Rproj
.Rhistory
.RData
*.RData
*.DS_Store
RTAGS
!README.md
*.log

myData/UKDA*

outputs/*
outputs/*/*

outFigures/*
outFigures/*/*

_extras
_extras/*/*

myScripts/inProgress
myScripts/inProgress/*/*


/* symlinks */
./_extras
./myScripts/inProgress
./myData/UKDA
./myData/UKDA*


